# fly.toml app configuration file generated for globe-media-pulse on 2026-01-25T07:14:10+08:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'globe-media-pulse'
primary_region = 'lax'
kill_signal = 'SIGINT'
kill_timeout = '5s'

[build]
  dockerfile = 'backend/Dockerfile'

[env]
  PORT = '8080'
  PYTHONUNBUFFERED = '1'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '512mb'
  cpus = 1
  memory_mb = 512
