fastapi
uvicorn[standard]
redis
psycopg2-binary
sqlalchemy
scrapy
scrapy-redis
trafilatura
scrapy-playwright
pydantic
pydantic-settings
python-dotenv
requests
pytest
jinja2
python-multipart
websockets
imagehash
Pillow
